@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Merriweather:wght@300;400;700;900&family=Roboto:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-1{
    width: 82%;
    max-width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(resources/Banner\ Image.png);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 16px;
    font-family: Merriweather;
    color: #fff;
    text-align: center;
}

.banner-1 h1{
    font-size: 72px;
    max-width: 630px;
    font-weight: 900;
    margin: 0 auto;
}
.banner-1 p{
    font-size: 32px;
    font-weight: 400;
    padding: 0 auto;
    padding-top: 180px;
    padding-bottom: 20px;
}

.banner-2{
    width: 52%;
    max-width: 805px;
    height: 805px;
    margin: 120px auto;
    font-family: Inter;
    text-align: center;
}

.banner-2 h1{
    font-size: 88px;
    font-weight: 700;
    color: #F00;
    padding-bottom: 48px;
}

.banner-2 p{
    font-size: 24px;
    font-weight: 600;
    color: #F00;
    margin-bottom: 16px;
}

.banner-2 h3{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    padding-bottom: 48px;
}

.banner-3{
    width: 82%;
    max-width: 1320px;
    height: 600px;
    background-color: #F00;
    margin: 0 auto;
    margin-bottom: 120px;
    background-image:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    border-radius: 16px;    
}

.banner-3 h1{
    width: 630px;
    font-family: Merriweather;
    font-size: 64px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    padding-top: 110px;
    margin-left: 125px;
}

.banner-3 p{
    width: 690px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.80);
    margin-left: 125px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner-3 input{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 125px;
    background-color: transparent;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

input:hover{
    background-color: #fff;
    color: black;
}